nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    background: transparent;
    cursor: pointer;
    border: 2px solid rgba(128, 128, 128, 0.336);
    padding: 0.5rem;
    transition: all 0.5s ease;
    outline: none;
    font-family: "PT Sans", sans-serif;
    &:hover {
      background-color: rgb(102, 99, 99);
      color: whitesmoke;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
