//npm install node-sass

//remove default style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: rgb(70, 60, 60);
}
h3,
h4 {
  font-weight: 400;
  color: rgb(70, 60, 60);
}

.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 20rem;
}

body {
  height: 100%;
  font-family: "PT Sans", sans-serif;
}
.place-holder {
  height: 10vh;
  background-color: rgba(196, 151, 151, 0.747);
  color: rgb(156, 115, 115);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Serif SC", serif;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
