//npm install node-sass

//remove default style
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: rgb(63, 63, 63);
  font-family: "Courier New", Courier, monospace;
}

@import "./song";
@import "./player";
